<h2>Student List</h2>

<div class="table-container">
<mat-table [dataSource]="students">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef sticky>Name</mat-header-cell>
    <mat-cell *matCellDef="let s">
        <span [matTooltip]="s.name" class="name-cell">{{s.name}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef sticky>Age</mat-header-cell>
    <mat-cell *matCellDef="let s">{{s.age}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="department">
  <mat-header-cell *matHeaderCellDef sticky>Department</mat-header-cell>
  <mat-cell *matCellDef="let s">
    {{ s.department }}
  </mat-cell>
 </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef sticky>Gender</mat-header-cell>
    <mat-cell *matCellDef="let s">{{s.gender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="course">
    <mat-header-cell *matHeaderCellDef sticky>Course</mat-header-cell>
    <mat-cell *matCellDef="let s">{{s.course}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="hobby">
    <mat-header-cell *matHeaderCellDef sticky>Hobby</mat-header-cell>
    <mat-cell *matCellDef="let s">
      {{ s.hobby ? 'Yes' : 'No' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="remarks">
  <mat-header-cell *matHeaderCellDef sticky>Remarks</mat-header-cell>
  <mat-cell *matCellDef="let s">
    {{ s.remarks || '-' }}
  </mat-cell>
</ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef sticky>Actions</mat-header-cell>
    <mat-cell *matCellDef="let s; let i = index">

      <button mat-button color="primary" (click)="onEdit(s,i)">
        Edit
      </button>

      <button mat-button color="warn" (click)="onDelete(i)">
        Delete
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns" sticky></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>
