<form [formGroup]="studentForm">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Course</mat-label>
    <mat-select formControlName="course">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Node">Node</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group formControlName="gender">
    <mat-radio-button value="Male">Male</mat-radio-button>
    <mat-radio-button value="Female">Female</mat-radio-button>
  </mat-radio-group>

  <mat-checkbox formControlName="hobby">
    Likes Coding
  </mat-checkbox>

  <button mat-button class="submitBtn" [disabled]="!studentForm.valid" (click)="submit()">
    Submit
  </button>

</form>
