form {
  background: white;
  padding: 20px 20px 50px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 0 auto 20px;
}

mat-form-field {
  width: 100%;
}

mat-radio-group {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.submitBtn {
  float: right;
  color: white !important;
  background-color: #3f51b5;
}

.submitBtn:disabled {
  background-color: gray;
}

.form-row {
  display: flex;
  gap: 20px;
}

.align-center {
  align-items: center;
  gap: 40px;
}

:host ::ng-deep .form-field .mat-mdc-text-field-wrapper {
  height: 54px !important;
}

mat-label {
  font-size: 0.9rem;
}

.form-field{
    height: 54px !important;
}

